.container {
    align-self: center;
    justify-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container h1 {
    grid-column: 1/3;
}

.links {
    display: flex;
    gap: 5rem;
}