.container {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.container h2 {
    grid-column: 1/4;
}

.post {
    border: 1px solid #000;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 5px 1px rgb(165, 165, 165);
}

.post p {
    padding: 10px;
}

.userData {
    width: 60%;
    margin: auto;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: flex-end;
}