header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
    gap: 5rem;
}

header a {
    text-decoration: none;
    color: #939393;
}

/*header a:focus {*/
/*    color: #000;*/
/*}*/

.activeLink {
    color: #000;
}
